<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="GitHubPackages" value="https://nuget.pkg.github.com/EugeneEX/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GitHubPackages>
      <add key="Username" value="EugeneEX" />
      <add key="ClearTextPassword" value="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" />
    </GitHubPackages>
  </packageSourceCredentials>
</configuration>
